html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

:root {
  font-family: Montserrat;
  line-height: 140%;
  font-weight: 500;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}


